@import "../../reset";
@import "../../typography";

.hover {
  // border: 1px solid black;
  display: inline-block;
  position: relative;
  &-btn {
    border: none;
    padding: 0.75em 2em;
    background: teal;
    color: white;
  }
  &-links {
    // border: 1px solid black;
    position: absolute;
    width: 10rem;
    display: none;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.123);
    a {
      display: block;
      padding: 0.5em 1em;
      color: rgb(80, 80, 80);
      text-decoration: none;
      &:hover {
        background: rgb(231, 230, 230);
      }
    }
  }
  &:hover &-links {
    display: block;
  }
}
