@import "../../reset";
@import "../../typography";

body,
html {
  height: 100%;
}

.bg-image {
  height: 50%;
  background: url("../../eliz.jpg") 0 33% no-repeat;
  background-size: cover;
}

.bg-text {
  // background: teal;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  width: 18rem; //forgot
  text-align: center; //forgot
  border: 0.5rem solid #f3f3f3;
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
