@import "../../reset";
@import "../../typography";

body {
  height: 100%;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 33%;
  background: #f0f0f0;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.switch {
  position: relative;
  // border: 1px solid blue;
  display: inline-block;
  width: 3.75rem;
  height: 2.1rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    &::before {
      content: "";
      position: absolute;
      height: 1.6rem;
      width: 1.6rem;
      left: 0.25rem;
      bottom: 0.25rem;
      background: white;
      transition: 0.4s;
    }
  }
}

input:checked + .slider {
  background-color: #2196f3;
  &::before {
    transform: translateX(100%);
  }
}

.switch-round {
  .slider {
    border-radius: 20px;
    &::before {
      border-radius: 50%;
    }
  }
}
