@import "../../reset";
@import "../../typography";

.aside {
  background: teal;
  width: 10rem;
  overflow-x: hidden;
  position: fixed;
  z-index: 1;
  height: 100%;
  padding-top: 1.5em;
  a {
    display: block;
    font-size: 1.5em;
    padding: 0.5em 0.5em 1em;
    color: #d4d4d4;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}

.main {
  margin-left: 10rem;
  padding: 0 0.5em;
  line-height: 1.5;
}

@media screen AND (max-height: 450px) {
  .aside {
    padding-top: 1rem;
    a {
      font-size: 1rem;
    }
  }
}
