@import "../../reset";
@import "../../typography";

.hover {
  //border: 1px solid black;
  display: inline-block;
  position: relative;
  &-btn {
    border: none;
    padding: 0.5em 1em;
    background: #0b8181;
    color: white;
  }
  &-links {
    //border: 1px solid black;
    position: absolute;
    width: 10rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
    display: none;
    a {
      display: block;
      padding: 0.5em 1em;
      background: #f2f2f2;
      color: black;
      text-decoration: none;
      &:hover {
        background: darken(#f2f2f2, 10);
      }
    }
  }
  &:hover &-links {
    display: block;
  }
}
