@import "../../reset";
@import "../../typography";
$color: hsl(210, 73%, 51%);

.main {
  background: #ececec;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67vw;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
//
.searchbar {
  background: white;
  width: 18rem;
  height: 3rem;
  border-radius: 50px;
  border: 2px solid $color;
  padding: 3px;
  display: flex;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1.1);

  width: 3rem;
  position: relative;
  &-input {
    min-width: 0;
    flex-basis: 0;
    flex-grow: 1;
    outline: none;
    font-size: 1.5rem;
    border-radius: 50px;
    border: none;
    padding: 0.5em;

    position: absolute;
    width: 3rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    &:focus {
      position: relative;
      opacity: 1;
    }
  }
  &-btn {
    flex-basis: calc(3rem - 10px);
    height: calc(3rem - 10px);
    border-radius: 50%;
    color: white;
    border: none;
    background: $color;
    font-size: 1.5rem;
    margin-left: auto;
  }
  &:focus-within {
    width: 18rem;
  }
}
