@import "../../reset";
@import "../../typography";

.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  background: rgb(238, 236, 236);
  padding: 1em 1.5em;
  line-height: 1.25;
  text-align: center;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.123);
  h1 {
    color: #0084ff;
    margin-bottom: 0.5rem;
  }
  &-input {
    margin-top: 1.5rem;
    width: 100%;
    border: 1px solid rgb(163, 163, 163);
    outline: none;
    border-radius: 20px;
    padding: 0.5em 1em;
  }
  p {
    margin-bottom: 1.5rem;
  }
  &-btn {
    width: 100%;
    padding: 1em 2em;
    outline: none;
    border: none;
    border-radius: 20px;
    background: #0084ff;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background: darken(#0084ff, 10);
    }
  }
}
.float {
  //   background: orange;
  //   border: 1px solid blue;
  position: relative;
  &-label {
    position: absolute;
    bottom: 0.33em;
    left: 5%;
    color: rgb(146, 146, 146);
    transition: 0.3s all ease;
  }
  &-input:focus + &-label {
    bottom: calc(100% - 1.4em);
    color: #0084ff;
  }
}
