@import "../../reset";
@import "../../typography";

body {
  position: relative;
  height: 100vh;
}

.main {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip {
  // border: 1px solid black;
  position: relative;
  display: inline-block;

  &-text {
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    width: 120px;
    background: #555;
    color: white;
    text-align: center;
    padding: 0.33em 0;
    border-radius: 6px;

    &::after {
      content: "";
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;

      position: absolute;
      top: 99%;
      left: 50%;
      margin-left: -5px;
    }

    opacity: 0;
    transition: 0.3s;
  }
  &:hover &-text {
    opacity: 1;
  }
}
