* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.dropdown {
  display: inline-block;
  position: relative;
  &-button {
    padding: 1rem;
    border: none;
  }
  .links {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10rem;
    box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
      color: black;
      padding: 0.75rem 1rem;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: #ddd;
      }
    }
  }

  &:hover {
    .links {
      display: block;
    }
  }
}
