@import "../../reset";

$color: rgb(15, 135, 190);
.main {
  position: absolute;
  background: #ececec;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 33vw;
  min-height: 3em;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  // background: white;
  width: 3.5rem;
  height: 2rem;
  position: relative;
  display: inline-block;

  &-check {
    opacity: 0;
    width: 0;
    height: 0;
  }
  &-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #cccccc;

    cursor: pointer; //forgot
    transition: 0.4s;

    &::after {
      content: "";
      height: 1.5rem;
      width: 1.5rem;
      background: white;
      position: absolute;
      left: 0.25rem;
      bottom: 50%;
      transform: translate(0, 50%);
      transition: 0.4s;
    }
  }
}

.toggle-check:checked + .toggle-slider {
  background: $color;
  &::after {
    transform: translate(100%, 50%);
  }
}

.toggle-round {
  .toggle-slider {
    border-radius: 20px;
    &::after {
      border-radius: 50%;
    }
  }
}
