@import "../../reset";
@import "../../typography";

.main {
  background: #ececec;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tooltip {
  position: relative;
  &-text {
    position: absolute;
    display: none;
    background: teal;
    color: white;
    width: 10rem;
    text-align: center;
    padding: 0.5em 1em;
    z-index: 1;
    &::after {
      content: "";
      border: 5px solid transparent;
      position: absolute;
    }
    &-top {
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      &::after {
        top: 99%;
        left: 50%;
        transform: translateX(-50%);
        border-top: 5px solid teal;
      }
    }
    &-right {
      left: 125%;
      top: 50%;
      transform: translateY(-50%);
      &::after {
        right: 99%;
        top: 50%;
        transform: translateY(-50%);
        border-right: 5px solid teal;
      }
    }
    &-bottom {
      top: 125%;
      left: 50%;
      transform: translateX(-50%);
      &::after {
        bottom: 99%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 5px solid teal;
      }
    }
    &-left {
      right: 125%;
      top: 50%;
      transform: translateY(-50%);
      &::after {
        left: 99%;
        top: 50%;
        transform: translateY(-50%);
        border-left: 5px solid teal;
      }
    }
  }
  &:hover &-text {
    display: block;
  }
}
